.navbar{
    background-color: #41bb93;
    padding: 0.05em 0.75em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        display: flex;
        align-items: center;
    }
}
nav{
    padding: 0;
}
.nav-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding-inline-start: 0;

    &-each{
        margin-right: 2.5em;

        a{
            text-decoration: none;
            color: #ffffff;
        }

        &:nth-last-child(1){
            margin-right: 1em;
        }
    }
}